.main{
    position: relative;
    background-color: var(--primary);
    top: 0;
    left: 0;
    right: 0;
}

.barcode{
    position: absolute;
    height: 40px;
    top: 10%;
    right: 0;
    left: 93%;

    transform: rotate(90deg);
    transform-origin: left;

}

.main__body{
    display: flex;
    flex-direction: column;
    padding: 0 5% 0;
}

.main__ident{
    padding-top: 20%;
    display: flex;
    position: relative;
    flex-direction: row;
}

.main__name{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.main__first{
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 10rem;
    line-height: 130px;
    color: var(--body);
}

.main__last{
    font-size: 3rem;
    font-weight: 500;
    line-height: 56px;
    text-transform: uppercase;
    font-family: var(--font-2);
    color: var(--body);
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-top: 10%;
}

.btn__main{
    background: url(../img/btn-blk.svg) no-repeat;
    position: relative;
    width: 160px;
    height: 48px;
    border: 0;
    z-index: 2;
    cursor: pointer;
}

.btn__main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--body);
    transition: all .3s;
    z-index: -1;
    transform: scale(0);
}

.btn__main:hover::before{
    transform: scale(1);
}

.btn__main a{
    text-decoration: none;
    color: var(--primary);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--font-2)

}

.line{
    position: absolute;
    background-color: var(--body);
    bottom: 0;
    width: 1px;
    height: 40%;
    transform-origin: bottom;
    animation: line-up .5s linear  1 normal none;
    
}

.plus{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    display: block;
    position: relative;
}

@media (max-width: 768px){

    .main__name{
        margin-bottom: 100px;
    }
    .main__first{
        margin-top: 200px;
        font-size: 3rem;
        line-height: 50px;
    }
    
    .main__last{
        font-size: 1rem;
        line-height: 20px;
    }

    .btn{
        transform-origin: right;
        transform: scale(0.7);
    }

    .barcode{
        height: 20px;
    }
}

@keyframes line-in{
    0% {
        transform: scaleX(0);
        
    }
    100% {
        transform: scaleX(100%);
    }
}

@keyframes line-up {
    0% {
        transform: scaleY(0);
        
    }
    100% {
        transform: scaleY(100%);
    }
}
