.prj{
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: 270vh;
    width: 100%;
    font-family: var(--font-2);
    background-color: var(--body);
    &__base{
        background: url(../img/Component-4.svg) no-repeat ;
        background-size: contain;
        height: 240vh;
        width: 95vw;
    }
    &__main{
        display: block;
        flex-direction: row;
    }
    &__title{
       
    }
}


.sk {
    // display: block;
    height: 100%;
    width: 100%;
    padding: 5vw;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    &__item {
        display: flex;
        flex-direction: column;
        width: 30vw;
        gap: 15px;
        & h5{
            justify-content: end;
            display: flex;
            font-size: 0.8rem;
            font-weight: 400;
            text-transform: uppercase;
        }
        .sk__list1{
            display: flex;
            background-color: var(--primary);
            color: var(--body);
            & span{
                display: flex;
                align-items: center;
                padding: 10px 120px 10px 15px;
                margin: 0;
                font-size: 1rem;
                text-transform: uppercase;
                transition: all 0.2s;
            }
            &:hover{
                background-color: #d3d3d3;
                opacity: 30;
                color: var(--primary);
            }
        }
    }
    
    &__about{
        margin: 0 10%;
    }
}

.slider{
    display: flex;
    padding: 0 5%;
    margin: 60vh 0;
    &_load {
        flex-direction: row;
        
        h2{
            display: flex;
            font-family: var(--font-1);
            font-size: 4rem;
        }
        p{
        }
    }
    
    &_data {
        overflow: hidden;
    }
    
    .data_img {
        display: flex;
        overflow: hidden;
        margin: 0 8vw 0 0;
        width: 410px;
        border: 2px solid black;
        .img_title{
            position: absolute;
            margin: 300px 0 0;
            padding: 2px 40px;
            background-color: black;
            color: #fff;
            z-index: 1;
            transition: all 0.3s ease-in-out;
        }
        .img_mate{
            width: 410px;
            object-fit: cover;
            filter: invert(100%);
            transform: scale(1.2);
            transition: all 0.3s ease-in-out;
        }
        &:hover{
            .img_title{
                padding-left: 10px;
            }
            .img_mate{
                transform: scale(1);
                filter: invert(0%);
            }
        }
    }

}


// &::before {
//     content: "";
//     margin-top: 7px;
//     padding: 6px 0 6px 7px;
//     height: 12px;
//     width: 4px;
//     border-top: 0.2px solid black;
//     border-bottom: 0.2px solid black;
//     border-left: 0.2px solid black;
//     transform: scale(0);
// }


// .sk__list1::after {
//     content: "";
//     margin-top: 7px;
//     padding: 6px 0 6px 7px;
//     height: 12px;
//     width: 4px;
//     border-top: 0.2px solid black;
//     border-bottom: 0.2px solid black;
//     border-left: 0.2px solid black;
//     transform: scale(0);
// }



// .sk__list1:hover:before{
//     transform: scale(2);
// }
// .sk__list1:hover:after{
//     transform: scale(-2);
// }



// @media (max-width: 768px){
//     .sk__list1{
//         width: 100%;
//     }
// }






// .shape{
//     margin: 10%;
//     width: 400px;
//     height: 400px;
//     background-color: #d3d3d3;
// }

// .prj__line{
//     display: flex;
//     position: relative;
//     top: -50%;
//     height: 100%;
//     width: 1px;
//     mix-blend-mode: difference;
//     background-color: var(--body);
//     transform-origin: bottom;
//     animation: line-up .5s linear 1 normal none;
// }

// @keyframes line-up {
//     0% {
//         transform: scaleY(0);
        
//     }
//     100% {
//         transform: scaleY(100%);
//     }
// }